<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div>
        <h1>COMPETITIONS</h1>
        <a href='{% url "admins:compi" "compi"  %}'><h2>All Competitions</h2></a>
        <ul>
            {% for compi in compies %}
            <li>
                <a href='{% url "admins:compi" compiname=compi.name %}'>{{ compi.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h1>Workshops</h1>
        <a href="{% url 'admins:workshop' 'workshop' %}"><h2>All Workshops</h2></a>
        <ul>
            {% for workshop in workshops %}
            <li>
                <a href='{% url "admins:workshop" workshopname=workshop.name %}'>{{ workshop.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
