@font-face {
    font-family: 'Animales'; /* Choose a name for your font family */
    src: url('../ContactUs/assets/Animales Fantastic.otf') format('otf');
}

@media( max-width: 768px){
    .contactMail{
        display: none;
    }
    .mainContactUs .row{
        justify-content: space-around;
    }
}
.container{
    font-family: 'Animales'; }

.background{
    background-image: url('./assets/bgweb.jpg');
    background-size: cover;
    position:fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    z-index: -1;
    overflow-y: scroll;
}

/* .contactNum{
    flex: auto;
    justify-content: right;
    margin-right: 2%;
} */

.contactMail:hover ,.contactNum:hover{
    cursor: pointer;
}