@media( max-width: 768px){
    .contactMail{
        display: none;
    }
    .mainContactUs .row{
        justify-content: space-around;
    }
}

.contBackground{
    background-image: url('./assets/museum-corridor-4-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100vw;
    top: 0px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
}

/* .contactNum{
    flex: auto;
    justify-content: right;
    margin-right: 2%;
} */

.contactMail:hover ,.contactNum:hover{
    cursor: pointer;
}

.contContainer{
    position: relative;
    top: 6em;
}