{% extends "workshops/base.html" %}

{% block body %}
  <!-- <a name="" id="" class="btn btn-primary" href="{% url "admins:export-csv-all"  %}"> Download Regs</a>
  <a name="" id="" class="btn btn-primary" href="{% url "admins:export-compi-team-csv"  %}"> Download Teams</a> -->
  <!-- {%for registration in reg %}
  <tr>
    <td>{{ registration.name }}</td>
    <td>{{ registration.compi.name }}</td>
    <td>{{ registration.phoneno }}</td>
    <td>{{ registration.email }}</td>
    <td>{{ registration.yearofstudy }}</td>
    <td>{{ registration.ca_refral }}</td>
    <td>{{ registration.city }}</td>
    <td>{{ registration.country }}</td>
    <td>{{ registration.gender }}</td>
    <td>{{ registration.address }}</td>
    <td>{{ registration.instiname }}</td>
    <td>{{ registration.instiaddress }}</td>
  </tr>
  {% endfor %} -->
  <p>Hiiii</p>
{% endblock %}