# Django-related files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# React-related files
node_modules/
build/
dist/

# Editor and IDE files
*.swp
.vscode/
.idea/

# Dependency lock files
yarn.lock
package-lock.json

# Compiled Python files
*.pyc
 
# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other project-specific files
*.iml
.DS_Store

# Ignore changes to the package-lock.json file if using npm
# Comment out the line below if using yarn
# package-lock.json
