.parallaxcontainer {
    position: relative;
    height: 119.40vh;
    
  }
  
  .parallaxlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
  }
  
  .layer1 {
    background-image: url('../assets/summit_bg.png');
    z-index: -1;
    min-height: 120px;
    max-width: 100%;
    position: relative;
    background-size: auto 100%;
    background-attachment: top center;
    background-repeat: no-repeat;
    background-position: left;
 
  }
  
  .layer2 {
    background-image: url('../assets/summit_head.png');
    opacity: 1;
    z-index: -1;
    background-size: 82%;
    background-repeat: no-repeat;
    background-position-y:7.25rem;
    background-position-x:9rem;
  
  }
  
  .layer3 {
    background-image: url('../assets/demon.png');
    opacity: 1;
    z-index: -1;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image {
    background-image: url('../assets/summit_bg.png');
    min-height: 100vh;
    /*position: relative;*/
    background-size: 100% 100%;
    max-width: 100%;
    height: 100vh;
    z-index: -1;
    background-repeat:repeat;
    background-attachment: top center;
    /* display: flex; */
}

.summitRow{
  display: flex;
  justify-content:center;
  padding-top: 30px;
}

.summitColumn{
  margin: 30px 60px 30px 60px;
}

.head{
  padding-top: 40px;
}

@media only screen and (max-width: 1000px) {
  .summitColumn{
    margin: 30px 30px 30px 30px;
  }

  .summitColumn img{
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .summitRow{
    flex-direction: column;
  }

  .summitColumn{
    margin: 10px;
  }
  .summitColumn img{
    width: 50%;
  }

}

