.parallaxcontainer {
  position: relative;
  height: 100%;
  top: -5rem;
  }
  
  .parallaxlayer {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  }
  
  .layer1 {
    background-image: url('../assets/summit_bg.png');
    z-index: -1;
  position: relative;
  background-size: cover;
  background-attachment: top center;
  background-repeat: no-repeat;
  background-position: center;
 
  }
  
  .layer2 {
    background-image: url('../assets/summit_head.png');
    opacity: 1;
  z-index: -1;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y:20%;
  
  }
  
  .layer3 {
    background-image: url('../assets/demon.png');
    opacity: 1;
  background-size: auto 122vh;
  background-repeat: no-repeat;
  background-position: center;
  }

  .image {
  background-image: url('../assets/summit_bg.png');
  min-height: 120vh;
  position: relative;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
  top: -13vh;
  background-repeat: no-repeat;
}

.summitRow{
  display: flex;
  justify-content:center;
  padding-top: 0px;
}

.summitColumn{
  margin: 30px 60px 30px 60px;
}
.txt1{
  z-index: 2;
  position: relative;
  bottom: -86%;
  font-size: calc(10px + 1.5vw);
  color: #bb9564;
 
}
.txt2{
  z-index: 2;
  position:relative;
  bottom:-86%;
  font-size: calc(10px + 1.5vw);
  color: #bb9564;
}

.head{
  padding-top: 40px;
}

@media only screen and (max-width: 1000px) {
  .summitColumn{
    margin: 30px 30px 30px 30px;
  }

  .summitColumn img{
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .summitRow{
    flex-direction: column;
  }

  .summitColumn{
    margin: 10px;
  }
  .summitColumn img{
    width: 50%;
  }
  .txt1{
    bottom: -36.5vw;
  }
  .txt2{
    bottom: -36.5vw;
  }

}
@media(max-width:748px){
  .layer2{
    background-size: 125%;
    background-position-x: center;
  }
  
}

