.parallaxcontainer {
  position: relative;
  height: 100%;
  top: -5rem;
  }
  
  .parallaxlayer {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  }
  
  .layer1 {
    background-image: url('../assets/summit_bg.jpg');
    z-index: -1;
  position: relative;
  background-size: cover;
  background-attachment: top center;
  background-repeat: no-repeat;
  background-position: center;
 
  }
  
  .layer2 {
    background-image: url('../assets/summit_head.png');
    opacity: 1;
  z-index: -1;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y:30%;
  
  }
  
  .layer3 {
    background-image: url('../assets/demon.png');
    opacity: 1;
  background-size: auto 122vh;
  background-repeat: no-repeat;
  background-position: center;
  }

  .image {
  background-image: url('../assets/summit_bg.jpg');
  min-height: 10vh;
  position: relative;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
  top: -13vh;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

.summitRow{
  display: flex;
  justify-content:center;
  padding-top: 0px;
}

.summitColumn{
  margin: 30px 60px 30px 60px;
}
.txt1{
  z-index: 2;
  position: relative;
  bottom: -86%;
  font-size: calc(10px + 1.5vw);
  color: #bb9564;
 
}
.txt2{
  z-index: 2;
  position:relative;
  bottom:-86%;
  font-size: calc(10px + 1.5vw);
  color: #bb9564;
}

.head{
  padding-top: 100px;
  margin-top: 40px;
  z-index: 3;
  position: relative;
  text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
  .summitColumn{
    margin: 30px 30px 30px 30px;
  }

  .summitColumn img{
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .summitRow{
    flex-direction: column;
  }

  .summitColumn{
    margin: 10px;
  }
  .summitColumn img{
    width: 50%;
  }
  .txt1{
    bottom: -36.5vw;
  }
  .txt2{
    bottom: -36.5vw;
  }

}
@media(max-width:748px){
  .layer2{
    background-size: 125%;
    background-position-x: center;
  }
  
}


.blackGradientbottom::after{
  content: '';
  position: absolute;
  bottom:-50px;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the gradient */
  background: linear-gradient(to top,rgba(0, 0, 0, 1), rgba(0, 0, 0, .8),transparent);
  pointer-events: none;
  z-index: 1000;
}

.blackGradienttop::after{
  content: '';
  position: absolute;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  height: 150px; /* Adjust the height of the gradient */
  background: linear-gradient(to top,transparent, rgba(0, 0, 0, .6    ), rgba(0, 0, 0, 1));
  pointer-events: none;
}
