CREATE TABLE `nsedata` (
  `symbol` varchar(10) NOT NULL,
  `series` varchar(10) NOT NULL,
  `open` decimal(20,6) NOT NULL,
  `high` decimal(20,6) NOT NULL,
  `low` decimal(20,6) NOT NULL,
  `close` decimal(20,6) NOT NULL,
  `last` decimal(20,6) NOT NULL,
  `prevclose` decimal(20,6) NOT NULL,
  `tottrdqty` int NOT NULL,
  `tottrdval` decimal(20,6) NOT NULL,
  `timestamp` varchar(20) NOT NULL,
  `anum` mediumint DEFAULT NULL,
  `isin` varchar(20) DEFAULT NULL,
  `extra` varchar(10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci