.gallery_slider{
  position: fixed;
  top: 7rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 7rem);

  background-image: url(../../../../../assets/gallery/bg2.png);
  background-position: cover;
  background-size: 100% 100%;
}

.gallery_slider  .slides {
    border-width: 10px;      
    width: 100%;     
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);    
  }
  
  .gallery_slider  .slides .slide {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 300px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  

  .gallery_slider  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    /* border-color: white;
    border-width: 10px; */
  } 
  
  .gallery_slider  .slide.active {
    opacity: 1;
    z-index: 99;
    width: auto;
    height: 350px;
    /* border-color: white;
    border-width: 10px; */
  }

  .gallery_slider  .slide.prev2 {
    z-index: 2;
    opacity: 1;
    transform: translate(-110%, -50%);
    height: 250px;
  }

  .gallery_slider  .slide.prev {
    z-index: 3;
    opacity: 1;
    transform: translate(-75%, -50%);
    height: 300px;
  }
  
  .gallery_slider  .slide.next {
    z-index: 3;
    opacity: 1;
    height: 300px;
    transform: translate(-25%, -50%);
  }
    
  .gallery_slider  .slide.next2 {
    z-index: 2;
    opacity: 1;
    height: 250px;
    transform: translate(10%, -50%);
  }

  .gallery_slider  .button-container .button, .gallery_slider .back-button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-in-out;
    z-index: 102;
  }
  
  .gallery_slider  .button-container .button{
    position: fixed;
    bottom: 10vh;
  }
  
  .gallery_slider  .button-container .button:nth-child(1) {
    left: 40vw;
  }
  
  .gallery_slider  .button-container .button:nth-child(2) {
    right: 40vw;
  }

  .gallery_slider .back-button{
    position: fixed;
    top: calc(7rem + 5vh);
    left: 50px;
  }


