.parallaxcontainer {
  position: relative;
  height: 100%;
  width: 100%;
  top: -5rem;
}
    
.parallaxlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
  
.layer1 {
  background-image: url('./img/back-1.jpg');
  z-index: -1;
  position: relative;
  background-size: cover;
  
  background-attachment: top center;
  background-repeat: no-repeat;
  background-position: center;
}
  
.layer2 {
  /* background-image: url('./img/circle.png'); */
  opacity: 1;
  z-index: -1;
  background-size:auto;
  background-repeat: no-repeat;
  background-position-y:50%;
  background-position-x: center;
  height: 100vh;
  width: 100vh;
  overflow: visible;
  top: 8%;
  left: 27%;
}
  
.layer3 {
  background-image: url('./img/cycle 1.png');
  opacity: 1;
  z-index: 0;
  margin-top: 0pt;
  background-size: auto 88vh;
  background-repeat: no-repeat;
  background-position: center;
}
.layer4{
  background-image: url('./img/CYCLOTHON.png');
  opacity: 1;
  z-index: 0;
  background-size: 55%;
  background-repeat: no-repeat;
  background-position-y:35%;
  background-position-x: center;
  height: 100vh;
}
.circle{
  animation: rotateAnimation 4s infinite linear ;
}
  
.image {
  /* background-image: url('./img/back-1.jpg'); */
  min-height: 120vh;
  position: relative;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
  top: 0vh;
  background-repeat: no-repeat; 
  background-position: center;
}
.xyz{
  display: inline-block;
}
  /* ScrollOpacityAnimation.css */
.imagestack {
  position: relative;
  height: 1000px; /* Adjust the height as needed to trigger the animation */
}

.image1 {
  position: absolute;
  transition: opacity 1s; /* Transition for smooth opacity change */
}
.blackGradientbottom{
  background-image: url('./img/Rectangle\ 3.png');
  z-index: 1;
  top: -76vh;
  position: relative;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
.notify{
  z-index: 1000;
}
.custombutton1 {
  font: 'Montserrat';
  position: relative;
  top: 41vh;
  left: 38vw;
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid white;
  background-color: rgba(11, 11, 11, 0.5); /* Use RGBA to set the background with transparency */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  color: #fff;
  text-transform: uppercase;
  font-weight: 1;
  text-align: center;
  cursor: pointer;
}
.custombutton2 {
  position: relative;
  top: 49vh;
  left: 29vw;
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid white;
  background-color: rgba(11, 11, 11, 0.5); /* Use RGBA to set the background with transparency */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  color: #fff;
  font: 'Montserrat';
  text-transform: uppercase;
  font-weight: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.date{
  font: 'Montserrat';
  top: 47vh;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-align: center;
}
.sponser1{
  font:'Montserrat';
  margin-top:80px;
}
.sponser2{
  font:'Montserrat';
  margin-top:80px;
}

@keyframes rotateAnimation {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
@media(max-width:548px){
  .layer2{
    width: 100vw;
    height: 85vh;
    left: 0%;
    top: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .layer3{
    background-size: auto 79vh;
    top: -4rem;
  
  }
  .image{
    top: 0vh;
  }
  .layer4{
    background-size: 90%;
    
  }
  .circle{
    width: auto;
    height: 80vh;
    top: -2rem;
    position: relative;
  }
  .custombutton1{
    top: 50vh;
    left: -2%;
    size: 50vw;
  }
  .custombutton2{
    top: 50vh;
    left: 2%;
    size: 50vw;
  }
  .date{
    top: 34vh;
  }
  .sponser1{
    margin-top: 50px;
    margin-bottom: -73px;
  }
  
  
}

    
    