.image-container {
    width: 95vw;
    margin-top: 30px;
    height: 55vh;
    overflow: hidden;
  }
  :root {
    --min-font-size: 16px;
    --max-font-size: 24px;
  }
  .visiontext{
    margin-top: 5%;
    font: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: center; 
  }
  .row-gap{
    row-gap: 40px;
  }
  .class1{
    padding-left: calc(var(--bs-gutter-x) * .5);
  }
  .class2{
    margin-left: calc(var(--bs-gutter-x) * -0.1);
  }
.fade-in {
    width: 95vw;
    position: relative;
    left: 40px;
    background-repeat: no-repeat;
    background-image: url('./img/schedule-body.png');
    background-size: 95vw 55vh;
    height: 55vh;
  }
  .vision{
    margin-top: 150px;
  }
  
  .fade-in.show {
    animation: openFromLeft 4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .schedule{
    max-width: 30%;
    margin-top: 150px;
  }
  .sponser{
    max-width: 45%;
    margin-top:150px;
  }
  .contact{
    max-width: 35%;
    margin-top: 150px;
  }

  @keyframes openFromLeft {
    0% {
      width: 0vw;
    }
    16.67%{
        width:16.67vw;
    }
    33.33%{
        width: 33.33vw;
    }
    50%{
        width: 50vw;
    }
    66.67%{
        width: 66.67vw;
    }
    83.34%{
        width: 83.34vw;
    }
    100% {
      width: 100vw;
    }
  }
  @media(max-width:548px){
    .fade-in{
      background-image: url('./img/mobileschedule.png');
      background-size: auto 129vw;
    left: 5px;
    width: 95vw;
    height: 122vw
    }
    .visiontext{
      font-size: 4.5vw;
      font-weight: 500;
      line-height: 1.2;
      text-align: justify;
    }
    .vision{
      margin-top: 70px;
    }
    .fade-in.show {
      animation: none;
    }
    .schedule{
      max-width: 70%;
      margin-top: 60px;
    }
    .sponser{
      max-width: 98%;
      margin-top: 70px;
    }
    .contact{
      max-width: 84%;
      margin-top: 60px;
    }
  }

  
 
  
  