/* m-accommodation.module.css */


.regUp{
  margin-top: -300px;
  margin-bottom: 80px;
}
.m-accommodation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 100;
  }
  
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    gap: 5vh;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.2s;
    position: relative;
  
    &:hover {
      background-color: #007bff;
      color: #fff;
    }
  }
  
  .tab.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .m-content-rect1 {
    border: #ab8d60 2px solid;
    width: 70vw;
    height: 40vh;
    margin: auto;
    position: relative;
    left: -15vw;
    margin-top: 15px;
  }
  
  .m-content-rect2 {
    border: #ab8d60 2px solid;
    width: 70vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    transform: translate(3px, 3px);
    display: flex;
    /* align-items: center; */
    padding: 10px;
    font-size: 14px;
    font-family: "Forum", sans-serif;
    overflow-y: scroll;
    text-align: left;
     /* Add margin to separate the content from other tabs */
    order: 2; /* Change the order to 2 to move the content below the tabs */
  }

  .rm-content-rect1 {
    border: #ab8d60 2px solid;
    width: 70vw;
    height: 40vh;
    margin: auto;
    position: relative;
    left: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .rm-content-rect2 {
    border: #ab8d60 2px solid;
    width: 70vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    transform: translate(3px, 3px);
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 15px;
    font-family: "Forum", sans-serif;
     /* Add margin to separate the content from other tabs */
    order: 2; /* Change the order to 2 to move the content below the tabs */
  }
  
  .m-titSpn {
    margin-top: 20px;
    margin-bottom: 150px;
  }
  
  .m-titSpn_rect1 {
    border: #ab8d60 2px solid;
    width: 40vw;
    height: 40px;
    margin: auto;
  }
  
  .m-titSpn_rect2 {
    border: #ab8d60 2px solid;
    width: 40vw;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    transform: translate(3px, 3px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "Forum", sans-serif;
    text-align: left;
    cursor: pointer;
  }
 
  .m-content-rect2::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .m-content-rect2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .m-content-rect2::-webkit-scrollbar-thumb {
    background: #000000; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .m-content-rect2::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }
  

    