.recognition{
    background: url("./Absolutereality.png");
    /* height: ; */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.recogradient{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-attachment: fixed;
}

.recog-header{
    position: relative;
    top:10%;
    width: 100vw;    
    height:45vw;
}

.recognition-header{
    height: 20vw;
    /* width: 40vw !important; */
    margin: 0;
    /* padding: -30vw; */
    display: flex;
}

img{
    margin: 0;
    padding: 0;
}

.unesco-cards{
    /* align-items: center; */
    justify-content: center;
    display: flex;
    gap: 10vw;
    flex-direction: row;
}

.recog-frame2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: -1vw;
}


.recog-container{
    max-width: 80%;
    width: fit-content;
    margin: 0;
}

.leader-container{
    max-width: 80%;
    width: fit-content;
    margin: 0;
}

.recog-head{
    width: 30vw;
}

.leader-head{
    scale: 1.7;
    width: 30vw;
}

.leaders{
    display: flex;
    margin-top: -10vw;
    flex-direction: row;
}

.letterpm{
    margin-right: -4vw;
    width: 35vw;
    height: 48vw;
    flex-shrink: 0;
    scale: 0.7;
}

.guinness{
    width: 35vw;
    height: 48vw;
    flex-shrink: 0;
    scale: 0.7;
    margin-top: -10vw;
}
.apjk{
    margin-top: 5vw;
    margin-bottom: -4vw;
    scale: 0.75;
    width: 30vw;
    height: 21vw;
    flex-shrink: 0;
}

.twitter{
    scale: 0.75;
    width: 30vw;
    height: 21vw;
    flex-shrink: 0;
}

.horizontal-flex{
    /* max-width: 80%; */
    margin-right: 4vw;
    display: flex;
    /* gap: 30px; */
    flex-direction: column;
}


@media (max-width: 550px){
    .unesco-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height:1069px; */
        width:100%;
    }
    .recog-frame2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .unesco-card{
        display: flex;
        height: 50%;
        width: auto;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
    }
    .recog-header{
        width: 100vw;   
        height: 45vh; 
    }
    .recognition-header{
        height: 40vw;
        /* width: 40vw !important; */
        margin: 0;
        /* padding: -30vw; */
        display: flex;
    }

    .leaders{
            display: flex;
            margin-top: -10vw;
            flex-direction: column;
        
    }
    .leader-head{
        width: 55vw;
        justify-content: center;
    }
    .recog-head{
        width: 90vw;
    }
    .guinness{
        width: 100vw;
        height: 145vw;
        flex-shrink: 0;
        margin-top: -30vw;
        margin-left: -6vw;
    }
    .letterpm{
        width: 100vw;
        height: 145vw;
        flex-shrink: 0;
        margin-top: -10vw;
        margin-left: -6vw;
    }
    .apjk{
        width: 87vw;
        height: 72vw;
        flex-shrink: 0;
        margin-top: -10vw;
    }
    .twitter{
        width: 87vw;
        height: 72vw;
        flex-shrink: 0;
        margin-top: -10vw;
    }
}
