.unesco-card{
    width: 16vw;
    height: 22vw;
    /* display: inline-block;
    vertical-align: middle; */
    /* flex-shrink: 0; */
    /* background: url("./rectangleRecogi.jpeg") lightgray 50% / cover no-repeat; */
    border-radius: 20px;
    /* align-items: center; */
}

.unesco{
    margin: 5vw 0;
    width: 24vw;
    height: 24vw;
}

@media (max-width:550px) {
    .unesco-card{
        display: flex;
        height: 55vw;
        width: auto;
    }
    .unesco{
        margin: 5vw 0;
        width: 42vw;
        height: 42vw;
    }
}