.Technorion{
    font-family: Forum;
    margin-top: 60px;
}

.desc {
    background: rgba(82, 72, 72, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid #8D7654;
    margin: auto;
    width: 70%;
    /* margin-top: -220px; */
    margin-bottom: 70px;
}

.descT{
    font-family: Forum;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 0px;
}

.card_img{
    width:80%;
    height: 180px;
    object-fit: fill;
}

.compi_card{
    background: #00072999;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Forum;
    /* max-width: 25%; */
    /* margin-right: 20px;
    margin-left: 20px; */
    padding: 12px;
    transform: scale(1);
    transition: transform 0.3s ease;
    height: 400px;
    overflow: hidden;
}

.noReg{
  /* overflow: hidden; */
}

.card_tag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_tag h3{
    font-family: Forum;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #ffffff;
    padding: 12px;
    margin-bottom: 0px;
}
.card_title{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    bottom: 0;
    height: 100px;
    transition: 1s ease;
}
.card_title h3{
    color: #FFE381;
    font-family: Forum;
    /* letter-spacing: 0.1em; */
    padding-top: 15px;
    margin-bottom: 0px;
    font-size: 23px;
    text-transform: capitalize;
}

@media (max-width: 1400px){
    .card_title h3{
        font-size: 20px;
    }
    .card_title div{
        font-size: 16px;
    }
}

.card_title div{
    color: #A7E9FF;
    font-family: Forum;
    letter-spacing: 0.1em;
    /* padding: 20px; */
    margin-bottom: 0px;
    font-size: 20px;
}

.card_post{
    display: None;
}

.card_regexp{
    position: absolute;
    left: 8%;
    bottom: 15px;
    display: flex;
    border-top: 1px solid #FFE381;
    flex-direction: row;
    justify-content: center;
    /* max-width: 80%; */
    margin: auto;
    text-align:center;
    width: 85%;
}

.card_reg{
    border-right: 1px solid #FFE381;
    padding-right: 8%;
    padding-top: .4vw;
    padding-left: 8%;
    padding-bottom: .4vw;
}
.card_exp{
    border-left: 1px solid #FFE381;
    padding-right: 8%;
    padding-top: .4vw;
    padding-left: 8%;
    padding-bottom: .4vw;
}


.card_reg a{
    color: #FFE381;
    font-family: Forum;
    letter-spacing: 0.1em;
    font-size:18px;
    text-decoration: none;
}

.card_reg button{
    color: #FFE381;
    font-family: Forum;
    letter-spacing: 0.1em;
    font-size:18px;
    text-decoration: none;
    background: none;
    border: none;
}

.card_exp a{
    color: #BB9564;
    font-family: Forum;
    letter-spacing: 0.1em;
    font-size:18px;
    text-decoration: none;
    margin-bottom: 0px;
}

.compi_card:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  /* Hide image on hover */
  .compi_card:hover .card_img {
    /* display: none; */
    opacity: 0;
  }

  .compi_card:hover .card_post{
    display: block;
  }

  .compi_card:hover .card_title{
    margin-top: -200px;
  }
  .card_desc{
    font-family: Forum;
    font-size: 16px;
    max-width: 90%;
    margin: auto;
  }

  .card_share{
    position: relative;
    left: 37%;
  }

  .card_img{
    border: 1px solid #FFE381;
    margin:auto;
  }

.card_rect1{
    border: 1px solid #FFE381;
    position:absolute;
    width: 85%;
    height: 390px;
    left: 8%;
    top: 5px;
}

.card_rect2{
    border: 1px solid #FFE381;
    left: 5.5%;
    width: 90%;
    height: 374px;
    position: absolute;
}

.card1_cont{

}

.share_rect1{
    height: 27px;
    width: 60px;
    border: 1px solid #A7E9FF;
    position: relative;
}

.share_rect2{
    height: 27px;
    width: 60px;
    border: 1px solid #A7E9FF;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    font-size: 14px;
    font-family: Forum;
    color: #A7E9FF;
}

.indiamapContainer {
    display: flex;
    align-items: center;
    height: 300px;
    margin: 20px auto;
  }
  
  .imageContainer {
    flex:auto;
    margin-left: 30px; /* Add margin to the left for spacing */
    padding: 10px; /* Add padding to keep the image within the border */
    box-sizing: content-box; /* Reset box-sizing to avoid additional width from padding */
    max-width: 50%; /* Set a maximum width for the image container */
  }
  
  .imageContainer img {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    border: 1px solid #FFE381;
    object-fit: contain;
  }
  
  .textContainer {
    flex: 1;
    margin-right: 20px; /* Add margin to the right for spacing */
  }
  
  .textContainer p {
    margin: 0;
    font-size: 18px;
    font-family: FORUM;
  }
  
  /* For Media Queries */
  @media (max-width: 768px) {
    .indiamapContainer {
      flex-direction: column-reverse; /* Map below text */
      height: auto;
    }
  
    .imageContainer,
    .textContainer {
      margin: 0; /* Reset margin for smaller screens */
    }
  
    .textContainer p {
      font-size: 16px; /* Adjust font size for smaller screens */
    }
  }
  