.compi_bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("static/img/Compi_back.jpg");
    z-index: -100;

}

.frame{
    background-color: black;
    width: 100%;
    height: 100vh;
    position:relative;
    top: -50px;

}

.frame .shade{
    width: 100%;
    height: 100%;
    background: url("static/img/img4.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.frame .compi_background{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./static/img/img8.jpg");
    animation: compi_loading_base 6s infinite ease-in;
}

.frame .tittle{
    position: absolute;
    bottom: 20px;
    width: min(100vh,100%);
    /* animation: compi_loading_tittle 6s infinite ease-in-out; */
}

.frame .svg{
    width: 40vh;
    position: absolute;
    z-index: 2;
    animation: compi_loading_svg 6s infinite ease-in-out;
    transition: smooth;
}

@keyframes compi_loading_tittle{
    0%,100%{opacity: 1;}
    30%,70%{opacity: 0;}
}

@keyframes compi_loading_base{
    0%,100%{background-image: url("static/img/img8.jpg");}
    35%{background-image: url("static/img/img6.jpg");}
    70%{background-image: url("static/img/img7.jpg");}
}

@keyframes compi_loading_svg{
    0%,100%{opacity: 1;}
    30%,70%{opacity: 0;}
}

.blackGradient-to-top::after{
    content: '';
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    height: 150px; /* Adjust the height of the gradient */
    background: linear-gradient(to top,transparent, rgba(0, 0, 0, .6    ), rgba(0, 0, 0, 1));
    pointer-events: none;
  }

.blackGradient-to-bottom{
    content: '';
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust the height of the gradient */
    background: linear-gradient(to top,rgba(0, 0, 0, 1), rgba(0, 0, 0, .6),transparent);
    pointer-events: none;
}
