/* *{
  scroll-padding-top: 2000px;
} */

.loader{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
.buffer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: calc(33.33vw - 5vw);
  overflow: hidden;
  /* margin: 2vw;   */
}
#myImg{
  animation: rotateAnimation 2s infinite linear ;

  /* width: 100%; */
}
.Overlay{
  position: absolute;
  color:blueviolet;
  font-weight: bold;
  font-size: 3vw;
  animation: none;
  /* top: 30%;
  left:43%; */
}

@keyframes rotateAnimation {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@media (max-width: 1140px)
{
  .loader{
    flex-direction: column;
    align-items: center;
  }
  .loader .buffer{
    width: 50vw;
    height: 25vh;
  }
  #myimg{
    width: 40vw;
    height: 20vh;
  }
  .Overlay{
    font-size: 4vw;
  }
}
