{% extends "compi/base.html" %}

{% block body %}
  <a name="" id="" class="btn btn-primary" href="{% url "admins:export-csv-all"  %}"> Download </a>
  {%for item in reg %}
  <tr>
      <td>{{item.name}}</td>
      <td>{{item.compi.name}}</td>
      <td>{{item.phoneno}}</td>
      <td>{{item.email}}</td>
      <td>{{item.yearofstudy}}</td>
      <td>{{item.ca_refral}}</td>
      <td>{{item.city}}</td>
      <td>{{item.country}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.address}} , {{item.pincode}}</td>
      <td>{{item.instiname}}</td>
      <td>{{item.instiaddress}} {{item.instipincode}}</td>
  </tr>
  {% endfor %}
{% endblock %}