.gal-main{
    position: fixed;
    top: 7rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 7rem);

    background-image: url(../../../assets/gallery/gallery.jpg);
    background-position: cover;
    background-size: 100% 100%;
}

.gal-main .gal-text{
    writing-mode: vertical-lr;
    position: fixed;
}

.gal-main :nth-child(1){
    left: 13vw;
    top: calc(73vh - 7rem);
}
.gal-main :nth-child(2){
    left: 28vw;
    top: calc(72.5vh - 7rem);
}
.gal-main :nth-child(3){
    left: 43vw;
    top: calc(72vh - 7rem);
}
.gal-main :nth-child(4){
    left: 57vw;
    top: calc(70vh - 7rem);
}
.gal-main :nth-child(5){
    left: 72.5vw;
    top: calc(71vh - 7rem);
}
.gal-main :nth-child(6){
    left: 88vw;
    top: calc(73vh - 7rem);
}