.gal-main{
    position: fixed;
    /* top: 7rem; */
    left: 0;
    width: 100%;
    height: calc(100vh);

    background-image: url(../../../assets/gallery/gallery.jpg);
    background-position: cover;
    background-size: 100% 100%;
}

.gal-main .gal-text{
    writing-mode: vertical-lr;
    position: fixed;
    font-size: 300%;
    /* size: 100px; */
}

.gal-main :nth-child(1){
    left: 11%;
    top: calc(43%);
    /* opacity: 0;  */
}
.gal-main :nth-child(2){
    left: 26.3%;
    top: calc(36%);
}
.gal-main :nth-child(3){
    left: 40.6%;
    top: calc(38% );
}
.gal-main :nth-child(4){
    left: 55%;
    top: calc(36%);
}
.gal-main :nth-child(5){
    left: 69.3%;
    top: calc(34%);
}
.gal-main :nth-child(6){
    left: 84.3%;
    top: calc(36%);
}

.gal-main .nav-link{
    opacity: 0;
}


.gal-mob{
    position: fixed;
    /* top: 7rem; */
    left: 0;
    width: 100%;
    height: calc(100vh);

    background-image: url(../../../assets/gallery/bg_m.jpg);
    background-position: cover;
    background-size: 100% 100%;    
}

.gal-mob .gal-text{
    position: fixed;
    font-size: 200%;
    /* size: 100px; */
}

.gal-mob :nth-child(1){
    left: 10%;
    top: calc(62%);
    /* opacity: 0;  */
}
.gal-mob :nth-child(2){
    right: 10%;
    top: calc(38%);
}
.gal-mob :nth-child(3){
    left: 10.6%;
    top: calc(49% );
}
.gal-mob :nth-child(4){
    left: 10%;
    top: calc(38%);
}
.gal-mob :nth-child(5){
    right: 5%;
    top: calc(61%);
}
.gal-mob :nth-child(6){
    right: 7%;
    top: calc(48.5%);
}

.gal-mob .nav-link{
    opacity: 0;
}
