.footfunchide{
    position: fixed;
    bottom: -200px;
    transition: bottom 0.5s ease-in-out;
    /* background-image: url('./footimg.png'); */
    width: 100vw;
    /* height: 160px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.footfuncshow{
    position: fixed;
    bottom: 0px;
    transition: bottom 0.5s ease-in-out;
    /* background-image: url('./footimg.png'); */
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100vw;
    /* height: 160px; */
}

.footfunc{
    z-index: 214748364;
}

.footWeb{
    display: flex;
    justify-content: space-between;
    /* bottom: 0; */
    /* margin-top: 95px; */
}

.footWeb{
    display: flex;
}

.footWeb li{
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 1vw;
}

.footWeb li a{
    color: white;
    font-family: Landasans;
    font-size: 23px;
    text-decoration: none;
    text-transform: uppercase;
    /* font-weight: 300; */
}

.footLink{
    width: 35%;
    display:flex;
}

.socialMedia{
    width: 35%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* margin-right: 3%; */
}
.footMulti{
    display: flex;
}

@media (max-width: 848px){
    .footLinkO{
        display: none;
    }
    .footfuncshow{
        background: none;
        height: auto;
    }
    .footfunchide{
        background: none;
        height: auto;
    }
    .footWeb{
        padding: 0;
    }
    .footWeb{
        margin-top: 0;
    }
    .socialMedia{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        justify-content: space-around;
    }
    .socialMedia img{
        width: 33px;
    }
}

@media (max-width: 1720px){
    .footWeb li a{
        font-size: 1.2em;
    }
}
@media (max-width: 1520px){
    .footWeb li a{
        font-size: 1.1em;
    }
}
@media (max-width: 1420px){
    .footWeb li a{
        font-size: 1em;
    }
}
@media (max-width: 1300px){
    .footWeb li a{
        font-size: 0.9em;
    }
}
@media (max-width: 1170px){
    .footWeb li a{
        font-size: 0.8em;
    }
    .footLink {
        align-items: flex-end;
    }
    .footMulti{
        display: block;
    }
    .footMulti li{
        margin: 0 auto;
        padding: 0;
    }
    .footWeb li{
        margin-top: 1px;
        /* padding: 0; */
    }
    .footLink{
        justify-content: space-around;
    }
}
@media (max-width: 1000px){
    .footLink {
        align-items: flex-end;
    }
    .footMulti{
        display: block;
    }
    .footMulti li{
        margin: 0 auto;
        padding: 0;
    }
    .footWeb li{
        margin: 0;
        /* padding: 0; */
    }
    .footLink{
        justify-content: space-around;
    }
}