.yoyohoneysingh {
    /* Styling for the container */
    background-size: cover;
    background-position: center;
    height: auto; /* Adjust this height as needed */
    overflow-y: scroll; /* Enable scrolling for content */
    color: white; /* Text color */
    padding: 20px; /* Adjust padding as needed */
    top: 20px;
  }

.bhaicontainer{
  background-size: cover;
    background-position: center;
    height: 0vh; /* Adjust this height as needed */
    overflow-y: scroll; /* Enable scrolling for content */
    color: white; /* Text color */
    padding: 20px; /* Adjust padding as needed */
    top: 20px;
}

.bobby{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 6vw;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

.bobby img {
  max-width: 15vw;
  max-height: 10vw;
}

.bobby3{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 6vw;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

.bobby3 img {
  max-width: 13vw;
  max-height: 10vw;
}

.bobby2{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 4vw;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

.bobby2 img {
  max-width: 15vw;
  max-height: 10vw;
}

.singlehead{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 5vw;
  width: 100vw;
  margin-top: 20vh;
  margin-bottom: 5vh;
}

.singlehead img{
  max-width: 60vw;
  max-height: 15vw;
}



.single{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 7vw;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.single img{
  max-width: 15vw;
  max-height: 10vw;
}
  
.single1{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 7vw;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.single1 img{
  max-width: 23vw;
  max-height: 15vw;
}
.head{
  position: relative;
  top:100px;
}

.title{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title2{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -5vw;
  margin-bottom: 5vw;
}

@media (max-width:580px) {
  .bobby{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 8vw;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 15vh;
  }
  
  .bobby img {
    max-width: 25vw;
    max-height: 10vw;
  }

  .bobby2{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 8vw;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 15vh;
  }
  
  .bobby2 img {
    max-width: 25vw;
    max-height: 10vw;
  }

  .bobby3{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 8vw;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 15vh;
  }
  
  .bobby3 img {
    max-width: 25vw;
    max-height: 10vw;
  }
  
  .single{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 8vw;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
  .single img{
    max-width: 25vw;
    max-height: 10vw;
  }

  .single1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 8vw;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
  .single1 img{
    max-width: 28vw;
    max-height: 15vw;
  }
  
}