.parallaxcontainer {
  position: relative;
  height: 100%;
  width:100%;
  top: -5rem;
}
  
.parallaxlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.layer1 {
  background-image: url('./assets/back.jpg');
  z-index: -1;
  position: relative;
  background-size: cover;
  background-attachment: top center;
  background-repeat: no-repeat;
  background-position: center;
}

.layer2 {
  background-image: url('./assets/exhi.png');
  opacity: 1;
  z-index: 0;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x:50%;

  height: 130vh;
}

.layer3 {
  background-image: url('./assets/fore1.png');
  opacity: 1;
  z-index: -1;
  background-size: auto 121vh;
  background-repeat: no-repeat;
  background-position: center;
}


.xyz{
  display: inline-block;
}
.exhi{
  background-image: url('./assets/back.jpg');
  min-height: 120vh;
  position: relative;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
  top: -13vh;
  background-repeat: no-repeat; 
  opacity: 0.8 ;
}

@media(max-width:748px){
  .layer3{
    background-size: auto 100vh;
  }

  .layer2 {
    background-size: 110%;
    background-position-y: 20%;
  }  
}

.blackGradientbottom::after{
  content: '';
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the gradient */
  background: linear-gradient(to top,rgba(0, 0, 0, 1), rgba(0, 0, 0, .6),transparent);
  pointer-events: none;
  z-index: 10;
}

.blackGradienttop::after{
  content: '';
  position: absolute;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the gradient */
  background: linear-gradient(to top,transparent, rgba(0, 0, 0, .7),rgba(0, 0, 0, .9), rgba(0, 0, 0, 1));
  pointer-events: none;
}

@media screen and (max-width: 934px) {
  .blackGradienttop:after{
    top: -60px;
    height: 100px;
  }
  .blackGradientbottom:after{
    display: none;
  }
}

.exhiImage{
  display: flex;
  justify-content: center;
}

.exhiImage img{
  position: absolute;
  top: 10%;
  scale: 1.8;
  z-index: 2;
}
  

  
