
.overlay {
    position: relative;
    top: 80px;
    margin-top: 5vh;
}

.reg_head {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.reg_head img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.head_n {
    position: relative;
    top: 28px;
    left: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reg_head hr {
    margin: 0;
    width: 40vw;
    opacity: 0.75;
}

.qrc{
    
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 108px;
    background-color: #a0a0a5;
}

.butt{
    position:relative;
    height: 70vh;
    top: 30vh;
}

.butt button{
    background: none;
    color: white;
    padding: 30px;
    font-size: 22px;
    border: 1px solid #746509;
}