.loading {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
.loading img{
    /* max-width: 50vw; */
}
.sideR{
    /* rotate: 180deg; */
    transform: scaleX(-1);
    
}
.tf{
    position:absolute;
}

.moveLeft {
    transform: translateX(-100%); 
    transition: transform 1.5s linear;
  }

.moveRight{
    transform: scaleX(-1) translateX(-100%);
    transition: transform 1.5s linear;
}

.sideL, .sideR{
    height: 100vh;
    width: 100vw;
}

.badaKaro{
    transform: scale(1.3);
    transition: transform 1s linear;
}