.loading {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center;
    z-index: 2147483647;
   background-image: url("./img/homebg.jpg");

   background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;


}
  
.loading img{
    z-index: 2147483647; 
}

.sideL{
    transform: scaleX(-1);
}

.sideR{
    transform: scaleX(-1);
}

.tf{
    position: fixed;
    width: 26vw;
    left: 37vw;
}

.tfbg{
    position: fixed;
    width: 50vw;
}
.bgspined{
    animation: spin 1.5s linear forwards;
    transform: scale(1.5);
    transition: transform 1s ease-in;
}

@keyframes spin {
    0% { rotate : 0deg; }
    100% { rotate: 350deg; }
}

.moveLeft {
    transform: scaleX(-1) translateX(100%);
    transition: transform 1.3s ease-in;
  }

.moveRight{
    transform: scaleX(-1) translateX(-100%);
    transition: transform 1.3s ease-in;
}

.sideL, .sideR{
    height: 100vh;
    width: 100vw;
}

.badaKaro{
    transform: scale(2);
    transition: transform 1000ms ease-in;
}

.cloud2{
    position: fixed;
    right: 0;
    top: 0;
    z-index: -10;
}

.cloud1{
    position: fixed;   
    left: -20px;
    top: 0;
    z-index: -10;
}

.cloundmoveleft{
    transform: translateX(100%);
    transition: transform 2.5s ease-in;
}

.cloudmoveright{
    transform: translateX(-100%);
    transition: transform 2.5s ease-in;
}

.loaderremove{
    animation: remove 1s ease-in .5s forwards;
}

@keyframes remove {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@media (max-width: 490px) {
    .loading{
       background-image: url("./img/homebgm.jpg");
       background-size: 122vw;
    }
    .tfbg{
        width: 150vw;
    }
    .tf{
        width: 120vw;
    left: -10vw;
       
    }
     .cloud1{
        height: 100vh;
    }
    .cloud2{
        
      right: 170px;
      height: 110vh;
      /* top: -123456778765432px; */
    } 
}