.checkThis h1, h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkThis .difPage{
    display: flex;
    justify-content: center;
}

.checkThis .difPage .check_rect1{
    height: 40px;
    width: 120px;
    border: 1px solid #FFE381;
    position: absolute;
}

.checkThis .difPage .check_rect2{
    height: 40px;
    width: 120px;
    border: 1px solid #FFE381;
    margin-left: 17px;
    margin-top: 5px;
    position: relative;
    font-size: 21px;
}

.checkThis .difPage a{
    color: #fff;
    text-decoration: none;
    font-family: 'Forum', sans-serif;
}

.world-map-container{
    margin-top: 15px;
}
.tray{
    display: flex;   /* 2 rows */
  justify-items: center;
  column-gap: 40px;
  row-gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.contactus{
    padding-bottom: 100px;
}
@media(max-width:500px){
    .contactus{
  padding-bottom: 355px;
    }
  }

 
